@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: white;
}

.container {    
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hangman {
    margin-top: 30px;
    
}

.hangman svg line, circle{
    stroke: white!important;
}

.wrongbox {
    position: relative;
}

.wrong-letters {
    position: absolute;
    right: -50rem;
    top: -50%;
    min-width: 300px;
    min-height: 100px;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2rem;
    border: 4px solid white;
}

.wrong-letters h3{
    position: absolute;
    left: 10px;
    top: -25px;
    background-color: #1e1e1e;
}

.word{
    display: flex;
    position: absolute;
    bottom: -50%;
    font-size: 5rem;
   
}

.letter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 3rem;
    border-bottom: 3px solid white;
}

/* game */

.hidden {
    display: none;
}
